.btn-outline-success,
.btn-outline-success.active,
.btn-outline-success:active,
.btn-outline-success:focus,
.btn-outline-success:hover {
    background: linear-gradient(45deg, #ff6ec4, #ff9a44);
    border-color: #ff6ec4;
    color: white;
}

.btn-outline-success:focus {
    outline: none;
    box-shadow: 0 0 0 0rem rgba(255, 110, 196, 0.5);
}


.btn-primary,
.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    background: linear-gradient(45deg, #ff6ec4, #ff9a44);
    border-color: #ff6ec4;
    color: white;
}


.subscribe-link,
.subscribe-link:hover{
    letter-spacing: -0.6px; /* Сжатие расстояния между буквами */
    color: #0095F6; /* Цвет текста */
}


.sub-btn {
    background-color: #0095F6;
}

.sub-link,
.sub-link:hover {
    border: none;
    text-decoration: none;
    color: #0095F6;
}