{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-3 text-center">
            <img src="{{ user_profile.profile_picture.url }}" class="rounded-circle img-fluid mb-3" alt="Profile picture" style="width: 150px; height: 150px; object-fit: cover;">
        </div>
        <div class="col-md-9">
            <div class="d-flex align-items-center mb-3">
                <h3 class="mr-3">{{ user_profile.username }}</h3>
                {% if user != user_profile %}
                    <div class="btn-group ml-3">
                        {% if not is_following %}
                            <a href="#" class="btn btn-sm subscribe-link ms-3 rounded" data-user-id="{{ user_profile.id }}" style="margin-right: 8px; text-decoration:none; background-color:#0095F6; color:white;">Подписаться</a>
                        {% else %}
                            <a href="#" class="ms-3 btn btn-sm unsubscribe-link rounded" data-user-id="{{ user_profile.id }}" style="margin-right: 8px; background-color:#0095F6; color:white;">Отписаться</a>
                        {% endif %}
                        <button type="button" class="btn btn-primary btn-sm rounded send-message-btn" data-user-id="{{ user_profile.id }}" data-bs-toggle="modal" data-bs-target="#messageModal">Отправить сообщение</button>
                    </div>
                {% endif %}
            </div>
            <div class="d-flex mb-3">
                <span class="mr-3"><strong>{{ user_profile.posts.count }}</strong> публикаций</span>
                <span class="mr-3 ms-5"><strong>{{ user_profile.followers.count }}</strong> подписчиков</span>
                <span class="mr-3 ms-5"><strong>{{ user_profile.following.count }}</strong> подписок</span>
            </div>
            <div>
                <strong>{{ user_profile.first_name }} {{ user_profile.last_name }}</strong>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        {% for post in user_profile.posts.all %}
            <div class="col-md-4 col-sm-6 mb-4 position-relative post-container">
                <a href="{% url 'post_detail' post.pk %}">
                    <img src="{{ post.image.url }}" class="img-fluid post-image" alt="Post image" style="width: 100%; height: 300px; object-fit: cover;">
                    <div class="overlay">
                        <div class="overlay-content">
                            <span class="me-3">❤️ {{ post.likes_count }}</span>
                            <span>✏️ {{ post.comments_count }}</span>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

<!-- Модальное окно для отправки сообщения -->
<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModalLabel">Отправить сообщение</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="message-form">
                    <div class="mb-3">
                        <label for="message-text" class="form-label">Сообщение</label>
                        <textarea class="form-control" id="message-text" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .post-container {
        position: relative;
    }
    .post-image {
        transition: opacity 0.3s;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .overlay-content {
        color: white;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
    }
    .overlay-content i {
        margin-right: 8px;
    }
    .post-container:hover .post-image {
        opacity: 0.7;
    }
    .post-container:hover .overlay {
        opacity: 1;
    }
    .btn-primary,
    .btn-primary.active,
    .btn-primary:active,
    .btn-primary:focus,
    .btn-primary:hover {
        border-color: #ff6ec4;
        color: white;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const subscribeLinks = document.querySelectorAll('.subscribe-link');
        const unsubscribeLinks = document.querySelectorAll('.unsubscribe-link');
        const sendMessageBtns = document.querySelectorAll('.send-message-btn');
        const messageForm = document.getElementById('message-form');
        const messageText = document.getElementById('message-text');

        subscribeLinks.forEach(link => {
            link.addEventListener('click', function(event) {
                event.preventDefault();
                const userId = this.getAttribute('data-user-id');

                fetch(`/api/follow/${userId}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken')
                    },
                    body: JSON.stringify({ follower: '{{ user.id }}', following: userId })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    this.textContent = 'Отписаться';
                    this.classList.remove('btn-primary');
                    this.removeEventListener('click', subscribeHandler);
                    this.addEventListener('click', unsubscribeHandler);
                })
                .catch(error => {
                    console.error('Ошибка:', error);
                });
            });
        });

        unsubscribeLinks.forEach(link => {
            link.addEventListener('click', function(event) {
                event.preventDefault();
                const userId = this.getAttribute('data-user-id');

                fetch(`/api/unfollow/${userId}/`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken')
                    }
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.text(); // Изменено на response.text() для обработки пустого ответа
                })
                .then(data => {
                    this.textContent = 'Подписаться';
                    this.removeEventListener('click', unsubscribeHandler);
                    this.addEventListener('click', subscribeHandler);
                })
                .catch(error => {
                    console.error('Ошибка:', error);
                });
            });
        });

        function subscribeHandler(event) {
            event.preventDefault();
            const userId = this.getAttribute('data-user-id');

            fetch(`/api/follow/${userId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({ follower: '{{ user.id }}', following: userId })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                this.textContent = 'Отписаться';
                this.classList.remove('btn-primary');
                this.classList.add('btn-outline-secondary');
                this.classList.remove('subscribe-link');
                this.classList.add('unsubscribe-link');
                this.removeEventListener('click', subscribeHandler);
                this.addEventListener('click', unsubscribeHandler);
            })
            .catch(error => {
                console.error('Ошибка:', error);
            });
        }

        function unsubscribeHandler(event) {
            event.preventDefault();
            const userId = this.getAttribute('data-user-id');

            fetch(`/api/unfollow/${userId}/`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text(); // Изменено на response.text() для обработки пустого ответа
            })
            .then(data => {
                this.textContent = 'Подписаться';
                this.removeEventListener('click', unsubscribeHandler);
                this.addEventListener('click', subscribeHandler);
            })
            .catch(error => {
                console.error('Ошибка:', error);
            });
        }

        sendMessageBtns.forEach(btn => {
            btn.addEventListener('click', function() {
                const userId = this.getAttribute('data-user-id');
                messageForm.setAttribute('data-user-id', userId);
            });
        });

        messageForm.addEventListener('submit', function(event) {
            event.preventDefault();
            const userId = this.getAttribute('data-user-id');
            const text = messageText.value.trim();

            if (text === '') {
                alert('Сообщение не может быть пустым');
                return;
            }

            fetch('/api/send_message/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({
                    receiver: userId,
                    text: text
                })
            })
            .then(response => {
                if (!response.ok) {
                    console.error('Ошибка:', response.statusText);
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data.status === 'message sent') {
                    alert('Сообщение отправлено');
                    messageText.value = '';
                    const messageModal = bootstrap.Modal.getInstance(document.getElementById('messageModal'));
                    messageModal.hide();
                }
            })
            .catch(error => console.error('Ошибка:', error));
        });

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });
</script>
{% endblock %}