{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 style="margin-bottom:0;">Новая публикация</h4>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.image.label_tag }}
                            {{ form.image }}
                            {% if form.image.errors %}
                                <div class="text-danger">
                                    {{ form.image.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {{ form.caption.label_tag }}
                            {{ form.caption }}
                            {% if form.caption.errors %}
                                <div class="text-danger">
                                    {{ form.caption.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}